.containerSeccionServices{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:60px;
  text-align: center;
}

.containerSeccionServices p {
  margin: 20px 0px;
  color: grey;
}

.containerSeccionServices h1 {
  color: rgb(1, 1, 167);
  font-size: 40px;
}

.containerSeccionServices .containerCards{
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

