.headerPrimario {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  flex-wrap: wrap;
  border-bottom: 1px solid gray;
  color: white;
}

.headerPrimario .headerOption {
  display: flex;
  gap: 20px;
}

.headerPrimario .headerSocial {
  display: flex;
  gap: 10px;
  justify-self: end;
}

.headerOption .phone{
  padding: 10px 10px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
.headerOption .help {
  padding-right: 10px;
  padding-top: 10px;
  border-right: 1px solid gray;
}
.headerOption .why {
  padding: 10px 0px;
}

.headerSocial .headerIconSocial i,
.headerSocial .headerIconSocial span
{
  font-size: 30px;
}

.headerSocial .language {
  padding: 13px 10px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.headerSocial .twitter{
  padding: 10px 10px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.headerSocial .instragram,
.headerSocial .facebook
{
  padding: 10px 0px;
}